# Database Configuration
POSTGRES_USER=dragon
POSTGRES_PASSWORD=your_new_password_here
POSTGRES_DB=dragon_db
DATABASE_URL=postgresql://dragon:your_new_password_here@dragon-db:5432/dragon_db

# App Configuration
DEBUG=True
API_HOST=http://localhost:8000
TZ=Asia/Seoul

# AI API Keys
OPENAI_API_KEY=YOUR_API_KEY
GOOGLE_API_KEY=YOUR_API_KEY